body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
  display: flex;
  width: 100%;
  overflow-x: hidden;
}

.renderTime {
  position: fixed;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.row > * {
  padding: 3px;
  font-size: 5px;
  min-width: 10px;
  min-height: 10px;
  max-width: 10px;
  max-height: 10px;
}